<h1><%= @doctor.name%></h1>
<h2>Department: <%= @doctor.department %></h2>

<ul>
  <% @doctor.appointments.each do |appt| %>
  <li><%= "#{appt.date} at #{appt.time}"%> with <%= link_to appt.patient_name, patient_path(appt.patient)%></li>
  <% end %>
</ul>
